$bg: url(dark-light-choose($bg-light, $bg-dark));

:root {
  --custom-bg: #{$bg};
}
body {
    background-image: linear-gradient(to top, white, 90%, transparent), var(--custom-bg);
    background-repeat: repeat-y;
    background-size: 100%;
}
